/* <style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
</style>
font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins' , sans-serif;
    font-size: 15px;  
    background-color: hsl(0, 0%, 90%);
}

.container{
text-align: center;
}

.top-content .header{
font-weight: 200;
font-size: 40px;
}

.top-content .sub-header{
line-height: 1.75;
font-weight: 600;
color:  hsl(234, 12%, 34%);
font-size: 40px ;
}

.top-content p{
   padding-top: 10px;
   line-height: 1.5;
   color: hsl(229, 6%, 66%);
}

.bottom-section{
    display: flex;
   align-items: center;
   flex-direction: row;
   margin-top: 60px;
   justify-content: space-around;
   
   /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px; */
   }

.team-builder{
    border-top: 4px solid hsl(0, 78%, 62%);
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 200px;
}

.Supervisor{
    border-top: 4px solid hsl(180, 62%, 55%);
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 200px;
}

.Karma{
    border-top: 4px solid hsl(34, 97%, 64%);
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 200px;
   
}

.Calculator{
    border-top: 4px solid hsl(212, 86%, 64%);
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 200px;
    
}




